In [1]:


import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

dataset=load_dataset('lukebarousse/data_jobs')
df =dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [ ]:
median_salary_year =df['salary_hour_avg'].median()

45.97999954223633

In [13]:
median_salary_year =df['salary_hour_avg'].median()  
df_filled=df
df_filled['saalry_hour_avg']=df_filled['salary_hour_avg'].fillna(median_salary_year)
df_filled['salary_year_avg']=df_filled['salary_year_avg'].fillna(median_salary_year)

df_filled['salary_year_avg']

0         45.98
1         45.98
2         45.98
3         45.98
4         45.98
          ...
785736    45.98
785737    45.98
785738    45.98
785739    45.98
785740    45.98
Name: salary_year_avg, Length: 785741, dtype: float64

In [25]:
df_filled.loc[0:9, 'salary_year_avg':'salary_hour_avg']

   salary_year_avg  salary_hour_avg
0            45.98              NaN
1            45.98              NaN
2            45.98              NaN
3            45.98              NaN
4            45.98              NaN
5            45.98              NaN
6            45.98              NaN
7            45.98              NaN
8            45.98              NaN
9            45.98              NaN

In [29]:
df_unique=df_filled
df_unique.drop_duplicates()
print(len(df_filled))
print(len(df_unique))
print(len(df_filled)-len(df_unique))

785741
785741
0

In [32]:
df_unique =df_unique.drop_duplicates(subset=['job_title','company_name'])
print(len(df_filled) )
print(len(df_unique))
print(len(df_filled)-len(df_unique))

785741
508042
277699